<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.imppp.skin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.FragmentActivity" />
        <activity android:name=".ui.activity.recycleview.RecyclerViewActivity" />
        <activity android:name=".ui.activity.single.SingleRecyclerViewActivity" />
        <activity android:name=".ui.activity.project.ProjectActivity" />
        <activity android:name=".ui.activity.web.WebViewActivity" />
        <activity android:name=".ui.activity.demo.CardViewActivity"/>
    </application>

</manifest>